
@{
    ViewBag.Title = "_partialslids";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_slides_64dp.png" alt="">Slides</h3>
                    <p>Beautiful presentations created together</p>
                    <p>Create and edit polished presentations in your browser—no software required. Multiple people can work at the same time so everyone always has the latest version.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Commenting, chat, and</h3>
                    <h3 class="title  text-gredient4">real-time editing</h3>
                    <p>Work on a single presentation online with your business partner, your whole team, or external contacts. You control who gets permission to edit, view, or just add comments.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Easy-to-design slides</h3>
                    <p>Start from scratch or expedite the process by choosing a template. You can enhance your presentations with videos, images, drawings, and smooth transitions.</p>


                </div>
            </div>
        </div>
    </div>
    
    

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Works across PCs, Macs, mobiles, and tablets</h4>
                            <p>View or even present your slides from your phone or tablet, so you always have the option to practice your presentation up until the last minute.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Unlimited revision history</h4>
                            <p>Presentations get saved automatically online and versions are kept indefinitely without counting toward your Drive storage, so you can always track and undo revisions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Simple sharing controls</h4>
                            <p>Sharing is simple. You can assign permissions to control who views and edits your slides. You can also easily convert your Slides into the desired format to share with others.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

