
@{
    ViewBag.Title = "_partialsheets";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_sheets_64dp.png" alt="">Sheets</h3>
                    <p>Collaborative, smart, secure spreadsheets for fast-moving organizations</p>
                    <p>Sheets was designed with the needs of agile organizations in mind. AI features mean you can tap into the right insights to make meaningful business decisions. A cloud-based architecture enables you to collaborate with anyone, anytime, anywhere. Compatibility with external systems, including Microsoft Office, removes the friction of working with multiple data sources. And built on top of Google’s infrastructure, Sheets gives you the freedom to create, while helping to keep your information secure.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Frictionless collaboration</h3>
                    <h3 class="title  text-gredient4">and information sharing</h3>
                    <p>Whether you’re planning an event or sharing the latest revenue figures, Sheets makes it seamless for teams to work together. Easily add collaborators to projects, see changes as they occur, receive notifications for edits that happen while you’re away, and chat with colleagues in the same document. All changes are automatically saved as you make them. And with offline access, you can create, view, and edit files wherever and whenever.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Get insights fast, powered by Google AI</h3>
                    <p>Sheets empowers everyone across the organization to uncover valuable insights from data. Formula acceleration saves time and mitigates errors by surfacing relevant formulas as you type. For an even easier way to navigate your data, click on the Explore button to see trends and customizable visualizations. Or simply type a question into Explore and have Google AI retrieve the answers you need.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient5">Work seamlessly across Sheets and Excel</h3>
                    <p>Sheets opens up whole new ways of collaborating so that you can worry less about having the right version on file and focus on bringing your best ideas to life. Seamless compatibility with Microsoft files, including many of the keyboard shortcuts you rely on, reduces the friction of working across multiple platforms.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Maintain control with enterprise-grade security</h3>
                    <p>With Sheets, your content is continuously protected by one of the world’s most advanced security infrastructures. Manage permissions through individual-level, group-level, or domain-level access. Set expiration dates on your content. Disable options to download, copy, or print for specific collaborators. Use Data Loss Prevention controls to keep sensitive data safe.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient5">Analyze data from multiple sources, including BigQuery</h3>
                    <p>Sheets provides all the tools you need to analyze, visualize, and get insights from your data. Additional APIs and connector tools help you process data from multiple sources — in CSV, Excel, or any other file format. And with Connected Sheets, you can analyze billions of rows of BigQuery data in Sheets, without requiring SQL knowledge.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Build custom solutions</h3>
                    <p>Speed up workflows by building business apps and automations. Use AppSheet to build custom applications on top of Sheets, without writing code. Or add custom functions, menu items, and macros with Apps Script.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Create, edit, collaborate in real time</h4>
                            <p>Give individuals or groups permission to view, comment on, or edit spreadsheets. Work alongside your colleagues — no matter where they are — and see updates as they’re made.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Pull in form or survey results instantly</h4>
                            <p>Create and embed a survey on your website or send around a questionnaire at work. Google Forms and Sheets work seamlessly together, so responses go straight to Sheets for instant review and analysis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Customize your spreadsheets with add-ons</h4>
                            <p>Find tools created by third-party developers to add richer formatting, workflow rules, and more. You can even build your own custom add-ons for your domain or plugin.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

