
@{
    ViewBag.Title = "_partialSites";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_sites_64dp.png" alt="">Sites</h3>
                    <p>Effortlessly create impactful team sites</p>
                    <p>Collaboratively create engaging, high-quality sites for your team, project or event. The sites look great on every screen, from desktop to smartphone. All without learning design or programming.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Create a site, no programming or design skills needed</h3>
                  
                    <p>Sites makes it simple to exhibit your team's work, with easy access to all your content from Google Workspace - whether it's a Drive folder, Doc, or even shared Calendar.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Your content automatically looks its best across devices</h3>
                    <p>Carefully created themes help make your content stand out. Sites intelligently optimizes your work so it looks great on desktop, tablet, and mobile.</p>


                </div>
            </div>
        </div>
    </div>
    
    

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Move, drag and drop, edit, done</h4>
                            <p>Creation and editing is extremely simple: just click, drag or drop. The design will rearrange automatically with a grid layout. Everything fits into the best place, and is simple to move, resize, or rearrange.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Designed for collaboration</h4>
                            <p>Sites makes collaborating easy with real time co-editing and the same powerful sharing controls you're used to in Drive and Docs. Just like in Docs, you can work together and see each other’s changes in real-time as you type.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Secure your site, without requiring IT</h4>
                            <p>Users can easily manage sharing permissions and ownership in Sites with only a few clicks, like they would a Doc. Embedded content retains its original permissions for reliable, fine-grained control.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
