
@{
    ViewBag.Title = "_partialGmail";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">
                   
                    <h3 class="title text-gredient3"><img src="~/Documents/hh_gmail_64dp.png" alt="">Gmail</h3>
                    <p>Secure business email, and so much more</p>
                    <p>The latest Gmail makes it easier to stay on top of the work that matters. With secure, ad-free email as a foundation, you can also chat, make voice or video calls, and stay on top of project work with shared files and tasks — all right in Gmail.</p>
                 
                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">
             
                    <h3 class="title  text-gredient4">Get custom email</h3>
                    <h3 class="title  text-gredient4">yourcompany</h3>
                    <p>Build customer trust by giving everyone in your company a professional email address at your domain, like priya@yourcompany and joe@yourcompany. Also create group mailing lists, like sales@yourcompany.</p>
                 
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Robust integrations</h3>
                    <p>Connect with coworkers via Google Meet or Google Chat, send an invite in Calendar, add an action to your task list — you can do all that and more without leaving Gmail. Plus, connect your favorite third-party applications in the side panel using Google Workspace Add-ons.</p>
                

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">
                    
                    <h3 class="title text-gredient5">Smart suggestions for simple tasks</h3>
                    <p>Suggested actions — like Smart Reply, Smart Compose, grammar suggestions, and nudges — help you stay on top of your work and take care of simple tasks, so you can be more efficient with your time.</p>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Designed to protect you from threats</h3>
                    <p>Gmail works hard to keep you safe. Our machine learning models block more than 99.9% of spam, phishing, and malware from reaching our users.</p>


                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">
                        
                        <div class="media-body">
                            <h4>Works with your other tools</h4>
                            <p>Gmail works great with desktop clients like Microsoft Outlook, Apple Mail and Mozilla Thunderbird. Outlook users can sync emails, events and contacts to and from Google Workspace.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">
                       
                        <div class="media-body">
                            <h4>Easy migration from Outlook and legacy services</h4>
                            <p>Migrate your email from Outlook, Exchange or Lotus easily with custom tools that help preserve your important messages.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">
                    
                        <div class="media-body">
                            <h4>99.9% guaranteed uptime, 0% planned downtime</h4>
                            <p>Count on Google’s secure, resilient global infrastructure to keep your lights on 24/7/365. Automatic backups, spam protection and industry-leading security measures help protect your business data.</p>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>



