
@{
    ViewBag.Title = "_partialMeet";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_meet_64dp.png" alt="">Google Meet</h3>
                    <p>Secure video meetings for teams and businesses.</p>
                    <p>Help your team stay securely connected with enterprise-grade video conferencing built on Google’s robust and secure global infrastructure. Meet is included with Google Workspace, Google Workspace Essentials, and Google Workspace for Education.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Trusted by enterprises around the world.</h3>
                  
                    <p>Take advantage of the same secure-by-design infrastructure, built-in protection, and global network that Google uses to secure your information and safeguard your privacy. Meet video meetings are encrypted in transit and our array of default-on anti-abuse measures keep your meetings safe.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Enjoy frictionless meetings.</h3>
                    <p>Meet takes the headaches out of joining a video call at work. Just set up a meeting and share a link. No worrying about whether teammates, clients, or customers have the right accounts or plug-ins. With a fast, lightweight interface and smart participant management, multi-person video calls are a breeze.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient5">Designed to be helpful.</h3>
                    <p>Join meetings directly from a Calendar event, an email invite, or directly from Gmail. All of the event details are right there when you need them, whether you’re joining from a computer, phone, or conference room. Helpful features like live captions, low-light mode, and noise cancellation make meetings more productive.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Join meetings on the go.</h3>
                    <p>Easily view all your scheduled meetings for the day and join the meeting with just a tap, directly from the Gmail mobile app or the dedicated Meet app. Meetings organized by Google Workspace users also create a dial-in phone number for each meeting, so every guest has a great experience – even on the go without wifi or data.</p>


                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>More than meetings.</h4>
                            <p>Meet is fully integrated with Google Workspace. Seamlessly jump into a video call from Chat or take document collaboration to the next level by connecting over video – everything ties together so you can always connect and collaborate in context.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Works with other meeting solutions too.</h4>
                            <p>Teams using Skype for Business or meeting systems based on SIP and H.323 standards (e.g. Polycom and Cisco) can seamlessly join a Meet meeting through the Pexip Infinity Platform.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Control how your files are shared.</h4>
                            <p>Keep files private until you decide to share them. Avoid multiple versions and file merging by granting others permission to download, edit, comment, or view. You can also give shared files an expiration date.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

