
@{
    ViewBag.Title = "_partialKeep";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_keep_64dp.png" alt="">Keep</h3>
                    <p>Capture what’s important and get more done.</p>
                    <p>Keep organized. Capture inspiration and to-dos effortlessly. Collaborate on notes with teammates and set reminders to stay on track. Everything syncs across your devices, so what’s important is always in reach.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Do more together.</h3>
                 
                    <p>With Keep, it’s easy to collaborate with your colleagues on notes, lists, photos, audio, and drawings. Capture brainstorm ideas quickly, keep them on hand while you work, and watch to-dos get checked off in real time.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Update notes anytime, anywhere.</h3>
                    <p>Access, create, and edit notes wherever you go — from your computer, phone, or tablet — even when there's no connection. Every edit you make is automatically saved and updated across all devices.</p>


                </div>
            </div>
        </div>
    </div>
    
    

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Find what you need fast.</h4>
                            <p>Keep makes it easy to organize your notes and find what you're looking for even faster. Quickly filter notes by color, label, or attributes like lists with images, audio notes with reminders, or shared notes. Or pin important notes to the top of your list.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Never miss a deadline.</h4>
                            <p>Reminders in Keep help you get work done, when and where you need to. Presentation draft due at 3 PM? Set a time-based reminder. Need to pick up snacks for the team picnic? Add a location-based reminder to alert you when you pass by the grocery store.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Bring ideas to life.</h4>
                            <p>Quickly jot down notes and ideas in Keep, and easily reference them for inspiration while you're collaborating with teammates in Docs. Just access the Keep notepad via Docs’ Tools menu and you’ll see all of your Keep notes in a side panel.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
