
@{
    ViewBag.Title = "_partialChat";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_chat_64dp.png" alt="">Google Chat</h3>
                    <p>Simplify 1:1 and group messaging</p>
                    <p>From direct messages to group conversations, Google Chat helps teams and businesses collaborate fluidly and efficiently from anywhere. Securely connect with anyone you work with, and take group work to the next level with shared chat, files and tasks.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">See all of your messages</h3>
                    <h3 class="title  text-gredient4">in one place</h3>
                    <p>Use Chat as a standalone app, or right in Gmail. Seamlessly integrated tools help you keep track of all your work communications and choose the right channel for every conversation.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Collaborate in dedicated rooms</h3>
                    <p>Easily create dedicated virtual rooms to keep projects organized and on track. Shared chat — including threaded conversations — plus shared files and tasks help you keep everyone on the same page. Chat supports external users, 28 languages and 8,000 members per room.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient5">Tap into the best of Google Workspace</h3>
                    <p>Use Chat to collaborate seamlessly on content with Google Docs, Sheets, and Slides. Easily find past conversations or files with Google’s powerful search, and let bots and smart suggestions help you connect with meeting participants and get more done, faster.</p>

                </div>
            </div>
        </div>
    </div>
    

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Search with the power of Google</h4>
                            <p>Powerful, filterable search across Chat and email threads makes it easy to find what you need, when you need it. Search acts as a collective team memory, allowing you to review past discussions and decisions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Protect your data</h4>
                            <p>Take advantage of the same secure-by-design infrastructure, built-in protection, and global network that Google uses to secure your information and safeguard your privacy. We encrypt your data in transit & at-rest, and our array of default-on anti-abuse measures helps keep your organization safe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Smarter chat with bots</h4>
                            <p>Easily integrate both Google and third-party apps - like Salesforce and Jira - to keep all of your notifications in one place, and use bots to automate simple tasks so you can focus on what matters. Get started with bots.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

