
@{
    ViewBag.Title = "_partialCurrents";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/currents_logo.svg" alt="">Currents</h3>
                    <p>Engage employees. Have meaningful discussions. Stay current — together.</p>
                    <p>Work towards a common goal with Currents. Build a productive community where everyone stays on the same page.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Communicate your ideas</h3>
                    <h3 class="title  text-gredient4">and get instant feedback</h3>
                    <p>Share ideas with employees and gather input through meaningful, focused discussions on topics that matter to your organization.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Work more efficiently with personalized content</h3>
                    <p>Find previously siloed content and resources that are relevant to your work with customized help from Currents.</p>


                </div>
            </div>
        </div>
    </div>
    
    

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Learn from each other’s experiences</h4>
                            <p>Discuss key topics with employees across your organization through posts and comments that stay accessible on Currents so you can refer back to them over time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Find what you need when you need it</h4>
                            <p>See the most important content first, using Current’s home stream, which is ranked by relevance for each user. Follow tags on topics, search for specific information, and find what interests you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Manage with ease and take the pulse of your organization</h4>
                            <p>Manage and moderate content faster with help from Currents. Key metrics help admins and users measure engagement and find valuable insights.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

