
@{
    ViewBag.Title = "_partialCalender";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_calendar_64dp.png" alt="">Calendar</h3>
                    <p>Integrated online calendars designed for teams</p>
                    <p>Spend less time planning and more time doing with shareable calendars that integrate seamlessly with Gmail, Drive, Contacts, Sites and Meet so you always know what's next.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Smart scheduling for</h3>
                    <h3 class="title  text-gredient4">meetings</h3>
                    <p>Schedule events quickly by checking coworkers' availability or layering their calendars in a single view. You can share calendars so people see full event details or just if you are free.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Access from your laptop, tablet or phone</h3>
                    <p>View and edit your schedule from your phone or tablet. Use our optimized mobile apps or sync with your phone’s built-in calendar.</p>


                </div>
            </div>
        </div>
    </div>
   
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Publish calendars on the web</h4>
                            <p>Share special events with customers or let people know when you're available with easy calendar publishing. Calendars can also be integrated directly into Google Sites.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Easy migration from legacy systems</h4>
                            <p>Easily migrate your business calendar from Exchange, Outlook or iCal, or directly from .ics and .csv files.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>See if meeting rooms or shared resources are free</h4>
                            <p>Browse and reserve conference rooms, with detailed information on capacity and equipment visible when reserving a room. It's easy to set up shared rooms or resources and add them to events.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
