
@{
    ViewBag.Title = "_partialDrive";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_drive_64dp.png" alt="">Drive</h3>
                    <p>Store, access, and share your files in one secure place</p>
                    <p>Store any and every file. Access files anytime, anywhere from your desktop and mobile devices. Control how files are shared.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Get all the storage</h3>
                    <h3 class="title  text-gredient4">capacity you need</h3>
                    <p>Google Workspace provides flexible storage options so you will always have enough space for your files. With centralized administration, data loss prevention, and Vault for Drive, you can easily manage users and file sharing to help meet data compliance needs.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Find what’s important before you've even searched</h3>
                    <p>Drive uses Google AI to predict and surface what’s important for you in real-time. Drive recognizes important content, collaborators and events, using features like Quick Access and ML-based search enhancements to connect each user with files that may require attention.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient5">Organize team files in a shared space</h3>
                    <p>Use shared drives to store your team’s work in secure, easy-to-manage shared spaces. Any files added to shared drives are owned collectively by the team, so everyone stays up to date.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Use less of your PC/Mac disk space & stream directly from the cloud</h3>
                    <p>Drive File Stream gives you access to files directly from your computer, without impacting all of your disk space. Spend less time waiting for files to sync and more time being productive.</p>


                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Extend the power of Drive with 3rd-party apps.</h4>
                            <p>Use hundreds of integrated apps, including DocuSign for e-signatures, CloudLock for additional security layers, and LucidCharts for mockups, to get things done directly from Drive.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Work seamlessly with Drive on the tools you’re used to.</h4>
                            <p>Plugins for Microsoft Office and Outlook make fitting Drive into your workflow as simple as possible. You can also open 40+ different file types with Drive, including PDFs and MPEG4s, and work on Microsoft Word files straight from Drive.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Control how your files are shared.</h4>
                            <p>Keep files private until you decide to share them. Avoid multiple versions and file merging by granting others permission to download, edit, comment, or view. You can also give shared files an expiration date.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>