
@{
    ViewBag.Title = "_partialForms";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}

<section class="row service_tabs_list">
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3"><img src="~/Documents/hh_forms_64dp.png" alt="">Forms</h3>
                    <p>Easy to create surveys and forms for everyone</p>
                    <p>Create custom forms for surveys and questionnaires at no extra cost. Gather everything in a spreadsheet and analyze data right in Google Sheets.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row m0 service_tab service_tab2 section-spacing bg-pattern">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title  text-gredient4">Create a form as easily</h3>
                    <h3 class="title  text-gredient4">as creating a document</h3>
                    <p>Select from multiple question types, drag-and-drop to reorder questions and customize values as easily as pasting a list.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab1 section-spacing bg-gray">
        <div class="container">
            <div class="">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient3">Send professional looking surveys to customers</h3>
                    <p>Great looking surveys help you connect with customers to gain valuable insights. Add images, videos, and custom logic to give people who respond a great survey experience.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ico_price">
                    <div class="row m0">
                        <div class="ico">
                            <img src="~/Documents/unnamed.png" alt="" style="width: 320px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 content">

                    <h3 class="title text-gredient5">Analyze responses with automatic summaries</h3>
                    <p>Watch responses appear in real time. You can also access the raw data and analyze it with Google Sheets or other software.</p>

                </div>
            </div>
        </div>
    </div>
    

    <div class="row m0 service_tab service_tab3 section-spacing bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Share forms with an email, a link, or a website</h4>
                            <p>It's easy to share forms to specific people or to a broad audience by embeding forms on your website or sharing via Currents, Facebook, or Twitter.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Make smarter forms</h4>
                            <p>Data validation rules can make sure email addresses are properly formatted, dates are correct, and that people get the right questions based on their previous answers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cause2choose m-top40">
                    <div class="media bg-pattern radius border shadow">

                        <div class="media-body">
                            <h4>Create questions and analyze results together</h4>
                            <p>Real-time collaboration helps you create your form faster and let's you analyze results together without having to send around multiple versions of the file.</p>
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
</section>

