
@{
    ViewBag.Title = "Microsoftoffice365";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}


<section class="row section-spacing bg-gray" style="background-color: white;">
    <div class="row m0 find_domain_cover overly5">
        <div class="container overly-content" style="text-align:center">
            <div class="col-lg-12">
                <div class="row">
                    <h2 class="text-shadow1">Reimagine productivity with Microsoft 365 and Microsoft Teams</h2>
                   
                </div>
            </div>
        </div>
    </div>
  
</section>
<section class="row pricing_plan_table section-spacing bg-white">


    <div class="container ">
        <div class="sectionTitle">

            <h2>Select Your Plan</h2>
        </div>
        <div class="row pricing pricing2">
            <div class="container">

                <div class="row">
                    @*@foreach (var item in ViewBag.Gsuite)*@
                    
                    <div class="col-sm-4 price_plan">
                        <div class="inner m0 bg-white shadow border radius" style="background-color:whitesmoke;border-color:black">
                            <div class="plan_intro" style="background-color:whitesmoke">
                                <div class="price row m0" style="background-color:whitesmoke">
                                    <div class="planType row m0">
                                        <h4>Microsoft 365 Business Basic</h4>
                                    </div>
                                    <span class="fa fa-inr"></span>
                                    <span class="amount text-gredient1 text-shadow1" style="font-size: 54px;">125.00</span>
                                    <small>/mo</small>
                                </div>

                            </div>
                            <div class="row m0 service_provide_row">
                                <ul class="nav service_provide">
                                    <li><p>Best for businesses that need easy remote solutions, with Microsoft Teams, secure cloud storage, and Office Online (desktop versions not included).</p></li>
                                    <li>
                                       
                                        <h4>Premium Office apps included</h4>
                                        
                                        <p>Web and mobile versions of Word, Excel, and PowerPoint included.3</p>
                                    </li>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    <li><h4>Secure cloud services included</h4></li>
                                    <li>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Teams</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Exchange</h6>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>OneDrive</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Sharepoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>



                                </ul>
                                <a href="@Url.Action("SetEmailDomain", "Home", new { ProductId = "8" })" class="btn btn-primary btn-xlg"><i class="fa fa-external-link"></i> Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 price_plan">
                        <div class="inner m0 bg-white shadow border radius" style="background-color:whitesmoke;border-color:black">
                            <div class="plan_intro" style="background-color:whitesmoke">
                                <div class="price row m0" style="background-color:whitesmoke">
                                    <div class="planType row m0">
                                        <h4>Microsoft 365 Business Standard</h4>
                                    </div>
                                    <span class="fa fa-inr"></span>
                                    <span class="amount text-gredient1 text-shadow1" style="font-size: 54px;">660.00</span>
                                    <small>/mo</small>
                                </div>

                            </div>
                            <div class="row m0 service_provide_row">
                                <ul class="nav service_provide">
                                    <li><p>Best for businesses that need full remote work and collaboration tools including Microsoft Teams, secure cloud storage, business email, and premium Office applications across devices.</p></li>
                                    <li>
                                        <h4>Premium Office apps included</h4>
                                        <br />
                                        <p>Web and mobile versions of Word, Excel, and PowerPoint included.3</p>
                                    </li>

                                    <li>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Outlook</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Word</h6>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Excel</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Powerpoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Publisher</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Powerpoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>
                                    <li><h4>Secure cloud services included</h4></li>
                                    <li>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Teams</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Exchange</h6>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>OneDrive</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Sharepoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>

                                </ul>
                                <a href="@Url.Action("SetEmailDomain", "Home", new { ProductId = "9" })" class="btn btn-primary btn-xlg"><i class="fa fa-external-link"></i> Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 price_plan">
                        <div class="inner m0 bg-white shadow border radius" style="background-color:whitesmoke;border-color:black">
                            <div class="plan_intro" style="background-color:whitesmoke">
                                <div class="price row m0" style="background-color:whitesmoke">
                                    <div class="planType row m0">
                                        <h4>Microsoft 365 Business Premium</h4>
                                    </div>
                                    <span class="fa fa-inr"></span>
                                    <span class="amount text-gredient1 text-shadow1" style="font-size: 54px;">1440.00</span>
                                    <small>/mo</small>
                                </div>

                            </div>
                            <div class="row m0 service_provide_row">
                                <ul class="nav service_provide">
                                    <li><p>Best for businesses that need full remote work and collaboration tools including Microsoft Teams, secure cloud storage, business email, and premium Office applications across devices.</p></li>
                                    <li>
                                        <h4>Premium Office apps included</h4>
                                        <br />
                                        <p>Web and mobile versions of Word, Excel, and PowerPoint included.3</p>
                                    </li>

                                    <li>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Outlook</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Word</h6>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Excel</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Powerpoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Publisher</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Powerpoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>
                                    <li><h4>Secure cloud services included</h4></li>
                                    <li>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Teams</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Exchange</h6>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <p>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>OneDrive</h6>
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="~/Documents/hh_gmail_64dp.png" alt=""><h6>Sharepoint</h6>
                                                </div>
                                            </div>
                                        </p>
                                    </li>

                                </ul>
                                <a href="@Url.Action("SetEmailDomain", "Home", new { ProductId = "10" })" class="btn btn-primary btn-xlg"><i class="fa fa-external-link"></i> Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row faqs_section section-spacing bg_white">
    <div class="container">

        <div class="sectionTitle p-bottom80">

            <h2>FAQs</h2>
        </div>

        <div aria-multiselectable="true" class="panel-group faqs_accordion" id="faqs_accordion" role="tablist">
            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading1" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse1" aria-expanded="true" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse1" role="button">Q. What is Microsoft 365?</a></h4>
                        </div>
                        <div aria-labelledby="heading1" class="panel-collapse collapse in" id="collapse1" role="tabpanel">
                            <div class="panel-body">
                                Microsoft 365 is the productivity cloud designed to help each of us achieve what matters, in our work and life, with best-in-class Office apps, intelligent cloud services, and advanced security.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading2" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse2" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse2" role="button">Q.What happend to office 365 business plans?</a></h4>
                        </div>
                        <div aria-labelledby="heading2" class="panel-collapse collapse" id="collapse2" role="tabpanel">
                            <div class="panel-body">
                                Office 365 business plans are now Microsoft 365 business plans. New name, same great value, same price.
                                <br />
                                <p>1)Office 365 Business Essentials is now Microsoft 365 Business Basic</p>
                                <p>2)Office 365 Business Premium is now Microsoft 365 Business Standard</p>
                                <p>3)Microsoft 365 Business is now Microsoft 365 Business Premium</p>
                                <p>4)Office 365 Business is now Microsoft 365 Apps for business</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading3" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse3" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse3" role="button">Q. Why did you change the name from office 365 to Microsoft 365 ?</a></h4>
                        </div>
                        <div aria-labelledby="heading3" class="panel-collapse collapse" id="collapse3" role="tabpanel">
                            <div class="panel-body">
                                We changed the name to be more reflective of the range of features and benefits in the subscription. Microsoft 365 includes everything you know in Office 365, including best-in-class Office apps, intelligent cloud services, and advanced security.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading4" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse4" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse4" role="button">Q. Where business plans names have changed,has the product or price changed?</a></h4>
                        </div>
                        <div aria-labelledby="heading4" class="panel-collapse collapse" id="collapse4" role="tabpanel">
                            <div class="panel-body">
                                There are no price or feature changes for small and medium business plans. The same plans are available, only with an updated name.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. My business has an existing Office 365 business subscription.what does the change to Microsoft 365 mean for me?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                No action is needed from you. Your Office 365 subscription will automatically be renamed to Microsoft 365. You will see the name of your subscription update to the new name across your Admin Portal and monthly billing statements.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

